* {
  margin: 0;
  padding: 0;
}
.contact {
  background: #f9f9f9;
  margin: 35px auto 50px;
}
.contact h1 {
  color: #333;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}
.contact .contact_info {
  width: 800px;
  margin: auto;
  padding: 50px 40px;
  background: url('http://www.17sucai.com/preview/2/2017-11-15/led/templates/default/img/contact_bg.jpg') no-repeat;
}
.contact .contact_info p {
  font-size: 16px;
  line-height: 2;
  color: #666;
}
.contact .contact_info .tellphone {
  width: 380px;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding: 20px 0 20px 100px;
  text-align: center;
  background: url('http://www.17sucai.com/preview/2/2017-11-15/led/templates/default/img/icon_contact.png') no-repeat;
  background-position: 0 20px;
}
